* {
  margin: 0;
  padding: 0;
}
.banner {
  display: flex;
}
.developer-img {
  height: 774px;
  width: 136px;
  margin: 10px 50px 10px 10px;
}
.developer-banner {
  background-color: #fff8f3;
  width: 100%;
  margin-top: 10px;
}
.developer-full-name {
  font-size: 40px;
}
.developer-name {
  color: #fd6e0a;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.navbar,
li {
  list-style: none;
}
.navlink {
  display: flex;
  align-items: center;
  margin-right: 200px;
}
.navlink > li > a {
  color: #1e1e1e;
  margin-left: 20px;
  text-decoration: none;
}
.btn-hire {
  background-color: #fd6e0a;
  padding: 10px 20px;
  color: white;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
}
.hardy-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hardy-info {
  width: 585px;
  height: 356px;
}
.text-xl {
  font-size: 40px;
}
.text-3xl {
  font-size: 85px;
}
.btn-download-contact {
  display: flex;
}
.btn-download-img {
  width: 24px;
  height: 24px;
  color: white;
}
.btn-download {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fd6e0a;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin-right: 30px;
}
.btn-call {
  width: 24px;
  height: 24px;
}
.btn-contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff8f3;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  padding: 10px;
}
.hardy-img {
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  width: 1036px;
  height: 518px;
  position: absolute;
  right: -200px;
  bottom: -325px;
}
.hardy-pro-img {
  width: 584px;
  height: 676px;
  position: absolute;
  bottom: 0;
  right: 250px;
}
.what-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about-header {
  text-align: center;
  margin: 200px auto 15px;
}
.about-me {
  text-align: center;
  margin: 0 auto;
  background-color: #fff8f3;
  width: 1140px;
  height: 550px;
}
.about-text {
  color: #757575;
  width: 827px;
  text-align: center;
  margin: 20px auto;
}
.dark-3 {
  color: #757575;
}
.contact-info {
  display: flex;
  justify-content: space-around;
}
.what-i-do {
  margin-top: 360px;
}
.skills {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 50px auto;
}
.icon-img {
  width: 44px;
  height: 44px;
  padding: 20px 20px 0 20px;
}
.skill-mt {
  margin-top: 30px;
}
.box-inside {
  width: 204px;
  height: 243px;
  padding: 20px;
}
.skill-box {
  box-shadow: 0 0 10px 0 gray;
  width: 267px;
  height: 377px;
  border-radius: 5px;
}
.summary {
  text-align: center;
  margin: 100px auto;
}
.summary-section {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 30px auto;
}
.summary-box {
  width: 511px;
  height: 175px;
}
hr {
  width: 558px;
}
.last-summary {
  display: flex;
  justify-content: flex-start;
}
.last-skill {
  margin-left: 72px;
}
.download-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
footer {
  background-color: #fff8f3;
  display: flex;
  height: 780px;
  align-items: center;
  justify-content: center;
}
footer > div > p {
  width: 562px;
}
.input-field {
  display: block;
  padding: 15px 20px;
  border: 0;
  margin-bottom: 20px;
  width: 400px;
  border-radius: 5px;
}
textarea {
  border: 0;
  padding: 15px 20px;
}
.btn-submit {
  background-color: #fd6e0a;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  display: block;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}
